#h1 Server Settings
PORT=3000
APP_NAME=BookStore App
#h1 Database Settings
DATABASE_URL=mongodb+srv://adham54732:l3sfSf25TBFEGwmr@aaie.qzizwal.mongodb.net/audio-library?retryWrites=true&w=majority&appName=AAIE
#h1 JWT Settings
JWT_SECRET_ACCESS=vzFFAd7sRjPCz2bJr19qOriFblyPRcxkMGENafS57xaGr7ET3P
JWT_SECRET_REFRESH=43S4YBhQ4DM5X8mFfseZjb13oR1zkVdi7uUyjktq26FQEoqVst
JWT_SECRET_RESET=qxatAq1FGXcz0CVtHEGhrbHHzGU4uInukiV951TQSKctkXmjbi
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_RESET_TOKEN_EXPIRES_IN=10m

#h1 App Environment
NODE_ENV=development