# 📧 Email Settings
SMTP_EMAIL=your-email@example.com
SMTP_PASSWORD=your-email-password-or-app-password
SMTP_PORT=587
SMTP_HOST=smtp.gmail.com

# 🌐 Server Settings
FRONTEND_BASE_URL=http://localhost
PORT=3000
APP_NAME=BookStore App

# 🗃️ Database Settings
DATABASE_URL=mongodb://127.0.0.1:27017/db_name
DB_NAME=bookstore

# 🔐 JWT Settings
JWT_SECRET_ACCESS=your-access-secret
JWT_SECRET_REFRESH=your-refresh-secret
JWT_SECRET_RESET=your-reset-secret
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d
JWT_RESET_TOKEN_EXPIRES_IN=10m

# ⚙️ App Environment
NODE_ENV=development
